/* Animated logo */
.logo {
  object-fit: cover;
  filter: drop-shadow(0 0 8rem #4895ff);
  /* animation: flicker-in-1 1.5s linear both; */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 0;
  right: 0;
  width: 75vw;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: all 2.0s ease;
  z-index: 2;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  transition: all 1.5s ease-in;
  z-index: 0;
}

.video-bg > video {
  display: block;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.socials-wrapper {
  margin: auto;
  position: relative;    
  z-index: 2;
  transition: all 0.5s ease-in;
  transition-delay: 2s;
}

.socials-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.42em;
  font-weight: 700;
  background: linear-gradient(270deg, #12c2e9, #c471ed,#f64f59, #F2994A, #F2C94C);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 12s ease infinite;
  filter: drop-shadow(0 0 2.5rem #4895ff);

}

@keyframes animate-gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.socials-row {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials-icon {
  width: 26px;
  margin-right: 8px;
  margin-top: 2px;
  display: inline-block;
  filter: drop-shadow(0 0 2.5rem #4895ff);
}

.socials-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 1.15em;
  filter: drop-shadow(0 0 2.5rem #4895ff);
}

@media (min-width: 48em) {
  .socials-title {
    font-size: 1.92em;
  }
}
