.instapage-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  color: #000;
  text-align: center;
  
}

.instapage-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.92em;
  font-weight: 700;
  margin: 20px 10px;
  text-align: left;
  position: absolute;
  left: 0;

}


.instapage-showcase-wrapper {
  /* display: inline; */
  flex-direction: column;
  position: relative;
  text-align: center;
  padding-bottom: 70px;
}

.instapage-showcase {
  position: relative;
  display: inline;
  text-align: left;
}

.embed-container {
  display: inline;
  text-align: left;
  position:relative;
  top: 90px;
}

.embed-wrapper {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.instapage-row-text-wrapper {
  max-width: 520px;
  padding: 0 20px;
}

.instapage-row-title {
  font-family: 'tex_bold', sans-serif;
  font-size: 10vw;
  white-space: nowrap;
  line-height: 1;
  transition: all 0.72s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.instapage-row-text {
  font-family: 'inter', sans-serif;
  font-weight: 400;
}