.instapage-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  color: #000;
  text-align: center;
  background-color: #fafafa;
}

.instapage-title-wrapper {
  margin: 20px 10px;
  position: absolute;
  left: 0;
}

.instapage-title {
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.92em;
  font-weight: 700;
  display: inline;
}
.instapage-button {
  display: inline;
  font-weight: 600;
  color: #3897f0;
  font-size: 14px;
  margin-left: 24px;
  vertical-align: middle;
}

.instapage-button:hover {
  text-decoration: underline;
}


.instapage-showcase-wrapper {
  position: relative;
  text-align: center;
  padding-bottom: 90px;
}

.instapage-showcase {
  position: relative;
  display: inline;
  text-align: left;
}

.embed-container {
  display: inline;
  text-align: left;
  position:relative;
  top: 90px;
}


.embed-wrapper {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}
