
.title {
  font-family: 'Graduate', cursive;
  font-size: 6.5rem;
  animation: neon2 1.5s ease-in-out infinite alternate;
  transition: all 3.0s ease-in;
}

.page-wrapper {
  /* display: flex;
  min-height: 100vh;
  position: relative; */
}

.logo {
  object-fit: cover;
  filter: drop-shadow(0 0 8rem #4895ff);
  /* animation: flicker-in-1 1.5s linear both; */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 0;
  right: 0;
  width: 75vw;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: all 2.0s ease;
  z-index: 2;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  transition: all 1.5s ease-in;
  z-index: 0;
}

.video-bg > video {
  display: block;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.socials-wrapper {
  margin: auto;
  position: relative;    
  z-index: 2;
  transition: all 0.5s ease-in;
  transition-delay: 2s;
}

.socials-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.42em;
  font-weight: 700;
  background: linear-gradient(270deg, #12c2e9, #c471ed,#f64f59, #F2994A, #F2C94C);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 12s ease infinite;
  filter: drop-shadow(0 0 2.5rem #4895ff);

}

@keyframes animate-gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.socials-row {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials-icon {
  width: 26px;
  margin-right: 8px;
  margin-top: 2px;
  display: inline-block;
  filter: drop-shadow(0 0 2.5rem #4895ff);
}

.socials-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 1.15em;
  filter: drop-shadow(0 0 2.5rem #4895ff);
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  background: linear-gradient(#0C192A, transparent);
  transition: all 1.5s ease-in;
  z-index: 2;
}

.home-footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85px;
  background: linear-gradient(transparent,#0C192A);
  transition: all 1.5s ease-in;
  z-index: 2;
}


@media (min-width: 48em) {
  .socials-title {
    font-size: 1.92em;
  }
}
  
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 40px #4895ff, 0 0 70px #4895ff, 0 0 80px #4895ff, 0 0 100px #4895ff, 0 0 150px #4895ff;
  }
  to {
    text-shadow: 0 0 20px #4895ff, 0 0 35px #4895ff, 0 0 40px #4895ff, 0 0 50px #4895ff, 0 0 75px #4895ff;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(72, 149, 255, 0.4);
  }
  70% {
      box-shadow: 0 0 0 100vw rgba(72, 149, 255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(72, 149, 255, 0);
  }
}