@font-face {
  font-family: 'Norwester';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('./fonts/norwester.otf') format ('otf');
}

.App {
  background-color:  #0C192A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

p, a {
  margin: 0;
}

